@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}

h1{
    font-size: 1.5rem;
    font-weight: 600;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.5rem;
    letter-spacing: 1px;
}
p{
    font-size: 1.2rem;
}

header{
    width: 100%;
    height: 5rem;
    background-color: rgba(240, 248, 255, 0.863);
    position: fixed;
    top: 0;
    z-index: 333;
}
.container{
    width: 96%;
    max-width: 117rem;
    margin: 0 auto;
}

.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.navbar h1{
    text-transform: uppercase;
    color: rgba(61, 71, 65, 0.308);
    font-weight: 600;
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 20px;
}

.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul a{
    font-size: 1.2rem;
    padding: 1.5rem;
    text-transform: uppercase;
    color: cadetblue;
    font-weight: 400;
    letter-spacing: 2px;
    transition: all 0.4s ease;
}
.navbar ul a:hover{
    cursor: pointer;
    color: white;
    background-color: aquamarine;
}
.hero{
    max-width: 114rem;
    height: 30rem;
    background: url(../img/background2.jpg) no-repeat center center / cover;
    margin: 5rem auto;
}

main{
    width: 100%;
    max-width: 70rem;
    background-color: rgb(177, 230, 230);
    margin: 0 auto;
    padding: 3rem;
    border-radius: 2rem;
    margin-top: -10rem;
}

main h2{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
}

main .container h3{
    font-size: 1.3rem;
    font-weight: 600;
    margin: 2rem 0;
}
main .content .natural-food{
    width: 100%;
    height: 25rem;
    background: url(../img/vegetables.jpg) no-repeat center center / cover;
    
}
.home-food{
    width: 100%;
    height: 25rem;
    background: url(../img/home-food.jpg) no-repeat center center / cover;
}
.cardio{
    width: 100%;
    height: 25rem;
    background: url(../img/exercise.jpg) no-repeat center center / cover;
}
.stress{
    width: 100%;
    height: 25rem;
    background: url(../img/stress.jpg) no-repeat center center / cover;
}

li{
    font-size: 1.2rem;
    padding-left: 50px;
}
blockquote{
    font-size: 1.2rem;
    padding: 1rem 2.8rem;
    line-height: 1.6;
    font-weight: 400;
    box-shadow: inset 0.5rem 0 0 red;
    background-color: beige;
}

footer{
    background: linear-gradient(to right, #01040f, rgb(40, 59, 53), rgb(65, 165, 132));
    color: #fff;
    padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;
    width: 100%;
    border-radius: 8px;
}
.icons{
    text-align: center;
}
.icons .social a{
    font-size: 28px;
    color: grey;
    padding: 1rem;
    transition: all 0.4s ease;
}
.icons .social a:hover{
    cursor: pointer;
    color: white;
}
.copyright p{
    font-size: 0.7rem;
    letter-spacing: 1px;
    color: white;
    margin: 2rem 0;
    text-align: center;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}
.logo{
    width: 80px;
    margin-bottom: 10px;
}
.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-size: 1.0rem;

}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

}
.col p{
    font-size: 0.8rem;
} 
ul li{
    list-style: none;
    margin-bottom: 12px;
    padding-left: 0%;
    font-size: 0.8rem;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding-left: 0%;
}
form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #240202;
    margin-bottom: 50px;
    padding-top: 10px;
}
form .far{
    font-size: 18px;
    margin-right: 10px;
    color: crimson;

}
form input{
    width: 100%;
    background: transparent;
    color: #290f0f;
    border: 0;
    outline: none;
    margin-right: 10px;
}
.btn{
    background: #01040f;
    color: white;
    text-transform: uppercase;
    cursor: pointer;

}
btn:hover{
    background: white;
    color: black;
    cursor: pointer;
    display: flex;
    height: 70px;
}
.thanks{
    color: rgb(85, 175, 85);
    margin-top: 10px;
    display: block;
}
.social-menu ul {
    position: relative;
    transform: translate(-50%, -50%);
    display: flex;
    margin-right: 15px;
}

.social-menu ul li {
    list-style: none;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 0px;
}
.social-menu ul li .fa {
    font-size: 17px;
    line-height: 30px;
    transition: 6s;
    color: black;
    position: relative;
    margin-top: 0px;
    z-index: 1000;
    justify-content: center;
}
.social-menu{
    margin-top: 30px;
    margin-left: 180px;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}
.social-menu ul li .fa:hover {
    color: rgb(236, 236, 235);
}
.social-menu ul li a:hover{
    transform: translate(0, -10px);
    
}
.social-menu ul li:nth-child(1) a:hover{
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #0077b5;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid black;
    margin: 20px auto;
}
.copyright{
    text-align: center;
    font-size: 0.6rem;
}
.underline{
    width: 100%;
    height: 5px;
    background: #1b1818;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}
.underline span{
    width: 15px;
    height: 100%;
    background: white;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;


}
@keyframes moving{
    0%{
        left: -20px;
    }
    100%{
        left: 100%;
    }
}

@media (max-width: 700px){
    footer{
        bottom: unset;
    }
    .col {
        flex-basis: 100%;

    }
    .col:nth-child(2),
    .col:nth-child(3) {
            flex-basis: 100%;
    }
    
}
.container{
    cursor: pointer;
}